// #region Type For Input

.aph-type-modal-header {
    @extend .aph-type-all;

    color: $color-dark-gray-02;
    font-size: 1.125rem;
    line-height: 2rem;
    font-weight: 500;
    text-align: start;
    white-space: nowrap;
}

// #endregion
