// #region Basic Webcomponent Properties

aph-number-input {
    display: flex;
    position: relative;
    width: min-content;
    flex-direction: column;
}

// #endregion
// #region Input Container

.aph-number-input-container {
    @extend .aph-input-container;

    display: flex;
    flex-direction: row;
}

// #endregion
// #region Input

.aph-number-input {
    @extend .aph-input;

    appearance: textfield;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    border-radius: 0.25rem 0 0 0.25rem;
}

// #endregion
// #region Input Error

.aph-number-input-error {
    @extend .aph-input-error;
}

// #endregion
// #region Input Sizes

.aph-number-input-size-small {
    @extend .aph-input-size-small;
}

.aph-number-input-size-medium {
    @extend .aph-input-size-medium;
}

.aph-number-input-size-large {
    @extend .aph-input-size-large;
}

// #endregion
// #region Input Label

.aph-number-input-label {
    @extend .aph-input-label;
}

// #endregion
// #region Input Helper

.aph-number-input-helper {
    @extend .aph-input-helper;
}

// #endregion
// #region Input Helper Error

.aph-number-input-helper-error {
    @extend .aph-input-helper-error;
}

// #endregion
// #region Input Requirement

.aph-number-input-requirement {
    @extend .aph-input-requirement;
}

// #endregion
