// #region Basic Webcomponent Properties

aph-text-input {
    display: flex;
    flex-direction: column;
    position: relative;
    width: min-content;
    height: min-content;
}

// #endregion
// #region Input Container

.aph-text-input-container {
    @extend .aph-input-container;

    aph-icon {
        position: absolute;
        z-index: 1;
        top: 50%;
        right: 0.5rem;
        transform: translateY(-50%);
    }
}

// #endregion
// #region Input

.aph-text-input {
    @extend .aph-input;
}

// #endregion
// #region Input Error

.aph-number-input-error {
    @extend .aph-input-error;
}

// #endregion
// #region Input Sizes

.aph-text-input-size-small {
    @extend .aph-input-size-small;
}

.aph-text-input-size-medium {
    @extend .aph-input-size-medium;
}

.aph-text-input-size-large {
    @extend .aph-input-size-large;
}

// #endregion
// #region Input Label

.aph-text-input-label {
    @extend .aph-input-label;
}

// #endregion
// #region Input Helper

.aph-text-input-helper {
    @extend .aph-input-helper;
}

// #endregion
// #region Input Helper Error

.aph-text-input-helper-error {
    @extend .aph-input-helper-error;
}

// #endregion
// #region Input Requirement

.aph-text-input-requirement {
    @extend .aph-input-requirement;
}

// #endregion
// #region Input Icon Error

.aph-text-input-icon-error {
    fill: $color-red-40;
}

// #endregion
