// #region Table Configuration

$table-border-radius: 0.25rem;
$table-td-padding: 0.75rem;
$table-th-padding: 0.75rem;

// #endregion
// #region Basic Webcomponent Properties

aph-table {
    display: block;
    width: fit-content;
    height: fit-content;
}

// #endregion
// #region Table

aph-table table {
    width: 100%;
    background-color: $color-light-gray-01;
    border-collapse: collapse;
    border-radius: $table-border-radius;
}

// #endregion
// #region Table Body Row

aph-table table tbody tr {
    border-width: 0 0 0.125rem 0;
    border-style: solid;
    border-color: $color-light-gray-02;

    &:last-child {
        border: none;

        td:first-child {
            border-radius: 0 0 0 $table-border-radius;
        }

        td:last-child {
            border-radius: 0 0 $table-border-radius 0;
        }
    }

    td {
        @extend .aph-type-table-data;

        padding: $table-td-padding $table-td-padding * 4 $table-td-padding $table-td-padding;
        max-width: 0;
        overflow: hidden;
    }
}

// #endregion
// #region Table Header Row

aph-table table thead tr {
    border-bottom: 2px solid $color-light-gray-02;

    &:first-child {
        th:first-child {
            border-radius: $table-border-radius 0 0 0;
        }

        th:last-child {
            border-radius: 0 $table-border-radius 0 0;
        }
    }

    th {
        @extend .aph-type-table-header;

        background-color: $color-light-gray-03;
        padding: $table-th-padding $table-th-padding * 4 $table-th-padding $table-th-padding;
        max-width: 0;
        overflow: hidden;
    }
}

// #endregion
