// #region Import Colors

@import "./components/color/scss/color.scss";

// #endregion
// #region Import Components

@import "./components/typography/scss/typography.scss";
@import "./components/input/scss/input.scss";
@import "./components/icon/scss/icon.scss";
@import "./components/button/scss/button.scss";
@import "./components/input-text/scss/input-text.scss";
@import "./components/input-number/scss/input-number.scss";
@import "./components/dropdown/scss/dropdown.scss";
@import "./components/table/scss/table.scss";
@import "./components/input-date-picker/scss/input-date-picker.scss";
@import "./components/notification/scss/notification.scss";
@import "./components/modal/scss/modal.scss";

// #endregion
// #region Default Css

html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    background-color: $color-light-ui-background;
}

// #endregion
