// region Colors

$color-white: #ffffff;
$color-black: #000000;

$color-light-ui-background: #f3f3f3;
$color-dark-ui-background: #191919;

$color-ui-01: #ffffff;
$color-ui-02: #f3f3f3;
$color-ui-03: #e6e6e6;
$color-ui-04: #cccccc;
$color-ui-05: #b3b3b3;
$color-ui-06: #999999;
$color-ui-07: #808080;
$color-ui-08: #666666;
$color-ui-09: #4d4d4d;
$color-ui-10: #333333;
$color-ui-11: #191919;
$color-ui-12: #000000;

$color-light-gray-01: #ffffff;
$color-light-gray-02: #f2f2f2;
$color-light-gray-03: #e6e6e6;
$color-light-gray-04: #d9d9d9;
$color-light-gray-05: #cccccc;
$color-light-gray-06: #bfbfbf;
$color-light-gray-07: #b3b3b3;
$color-light-gray-08: #a6a6a6;
$color-light-gray-09: #999999;
$color-light-gray-10: #8c8c8c;

$color-middle-gray: #808080;

$color-dark-gray-01: #000000;
$color-dark-gray-02: #0d0d0d;
$color-dark-gray-03: #191919;
$color-dark-gray-04: #262626;
$color-dark-gray-05: #333333;
$color-dark-gray-06: #404040;
$color-dark-gray-07: #4d4d4d;
$color-dark-gray-08: #595959;
$color-dark-gray-09: #666666;
$color-dark-gray-10: #737373;

$color-text-01: $color-light-gray-01;
$color-text-02: $color-light-gray-08;
$color-text-03: $color-dark-gray-09;
$color-text-04: $color-dark-gray-07;
$color-text-05: $color-dark-gray-03;

$color-icon-01: $color-light-gray-01;
$color-icon-02: $color-light-gray-08;
$color-icon-03: $color-dark-gray-09;
$color-icon-04: $color-dark-gray-07;
$color-icon-05: $color-dark-gray-03;

$color-blue-10: #6ea2fe;
$color-blue-20: #5693fe;
$color-blue-30: #3e83fe;
$color-blue-40: #2674fe;

$color-blue-50: #0e64fe;

$color-blue-60: #0d5ae5;
$color-blue-70: #0b50cb;
$color-blue-80: #0a46b2;
$color-blue-90: #083c98;

$color-purple-10: #bd91ff;
$color-purple-20: #b27eff;
$color-purple-30: #a76cff;
$color-purple-40: #9c59ff;

$color-purple-50: #9147ff;

$color-purple-60: #8340e6;
$color-purple-70: #7439cc;
$color-purple-80: #6632b3;
$color-purple-90: #572b99;

$color-red-10: #e9787e;
$color-red-20: #e56269;
$color-red-30: #e14b53;
$color-red-40: #de343d;

$color-red-50: #da1e28;

$color-red-60: #c41b24;
$color-red-70: #ae1820;
$color-red-80: #99151c;
$color-red-90: #831218;

$color-yellow-10: #fee366;
$color-yellow-20: #fede4d;
$color-yellow-30: #fed933;
$color-yellow-40: #fed519;

$color-yellow-50: #fed000;

$color-yellow-60: #e5bb00;
$color-yellow-70: #cba600;
$color-yellow-80: #b29200;
$color-yellow-90: #987d00;

$color-green-10: #7cc690;
$color-green-20: #66bd7e;
$color-green-30: #50b36b;
$color-green-40: #3aaa59;

$color-green-50: #24a046;

$color-green-60: #20903f;
$color-green-70: #1d8038;
$color-green-80: #197031;
$color-green-90: #16602a;

// #endregion
